Package: wmic
Essential: no
Priority: important
Section: plugins
Maintainer: NEMS Linux <nems@category5.tv>
Architecture: all
Version: 1.6.8
Provides: wmic
Description: Windows Management Instrumentation Client for NEMS Linux
Depends: python3, python3-natsort, python3-impacket, libnumber-format-perl
