Package: wmic
Essential: no
Priority: important
Section: plugins
Maintainer: NEMS Linux <nems@category5.tv>
Architecture: all
Version: 1.6.102
Provides: wmic
Description: Windows Management Instrumentation Client for NEMS Linux
Depends: python3|python, python3-natsort|python-natsort, python3-impacket|python-impacket, libnumber-format-perl
